<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.model">
    <select id="loginCase" parameterType="integer" resultType="com.course.model.LoginCase">
        select * from loginCase
        where id = #{id};
    </select>

    <select id="addUserCase" parameterType="integer" resultType="com.course.model.AddUserCase">
        select * from addUserCase
        where id = #{id};
    </select>

    <select id="getUserInfoCase" parameterType="integer" resultType="com.course.model.GetUserInfoCase">
        select * from getUserInfoCase
        where id = #{id};
    </select>

    <select id="getUserListCase" parameterType="integer" resultType="com.course.model.GetUserListCase">
        select * from getUserListCase
        where id = #{id};
    </select>

    <select id="updateUserInfoCase" parameterType="integer" resultType="com.course.model.UpdateUserInfoCase">
        select * from updateUserInfoCase
        where id = #{id};
    </select>

    <!--查询所有请求后的数据-->
    <select id="addUser" parameterType="com.course.model.AddUserCase" resultType="com.course.model.User">
        select * from user where
        userName=#{userName}
        and password=#{password}
        and age=#{age}
        and sex=#{sex}
        and permission=#{permission}
        and isDelete=#{isDelete}
    </select>

    <select id="getUserInfo" parameterType="com.course.model.GetUserInfoCase" resultType="com.course.model.User">
        select * from user
        where
        id = #{userId}
    </select>
    
    <select id="getUserList" parameterType="com.course.model.GetUserListCase" resultType="com.course.model.User">
        select * from user
        <trim prefix="where" prefixOverrides="and">
            <if test="null != userName and ''!= userName">
                and userName = #{userName}
            </if>

            <if test="null != age and ''!=age">
                and age = #{age}
            </if>

            <if test="null != sex and ''!=sex">
                and sex = #{sex}
            </if>
        </trim>
        ;
    </select>

    <select id="getUpdateUserInfo" parameterType="com.course.model.UpdateUserInfoCase" resultType="com.course.model.User">
        select * from user
        <trim prefix="where" prefixOverrides="and">

            <if test="null != userName and ''!=userName">
                and userName = #{userName}
            </if>

            <if test="null != age and ''!=age">
                and age = #{age}
            </if>

            <if test="null != sex and ''!=sex">
                and sex = #{sex}
            </if>

            <if test="null != permission and ''!=permission">
                and permission = #{permission}
            </if>

            <if test="null != isDelete and ''!=isDelete">
                and isDelete = #{isDelete}
            </if>

        </trim>
        and id = #{userId};
    </select>


</mapper>